<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hihcxcn.patek.philippe.infrastructure.mapper.UserMapper">

    <resultMap type="cn.hihcxcn.patek.philippe.infrastructure.pojo.User" id="UserResult">
        <id     property="userId"       	column="user_id"      		/>
        <result property="userName"     column="user_name"    	/>
        <result property="password"     column="password"    	/>
        <result property="email"        column="email"        	/>
        <result property="phoneNumber"  column="phone_number"  	/>
        <result property="description"  column="description"  	/>
        <result property="createTime"   column="create_time"  	/>
        <result property="updateTime"   column="update_time"  	/>
        <collection property="roles" ofType="cn.hihcxcn.patek.philippe.infrastructure.pojo.Role">
            <result property="id" column="rid"  />
            <result property="name" column="rname"  />
            <result property="roleKey" column="role_key"  />
            <result property="description" column="rdescription"  />
            <result property="createTime"   column="rcreate_time"  	/>
            <result property="updateTime"   column="rupdate_time"  	/>
        </collection>
    </resultMap>

    <insert id = "createUser" >
        insert into tbl_user (user_name, password, email, phone_number, description, create_time, update_time)
        values (#{userName}, #{password}, #{email}, #{phoneNumber}, #{description}, #{createTime}, #{updateTime})
    </insert>
    <select id="selectById" resultMap="UserResult">
        select u.user_id, u.password, u.user_name, u.email, u.phone_number, u.description, u.create_time, u.update_time
        from tbl_user u
        where u.user_id = #{id}
    </select>

<!--    <sql id="selectUserSql">-->
<!--        select u.id, u.password, u.user_name, u.email, u.phone_number, u.description, u.create_time, u.update_time, r.id rid, r.name rname, r.role_key, r.description rdescription, r.create_time rcreate_time, r.update_time rupdate_time-->
<!--        from tbl_user u inner join tb_role r on ur.role_id=r.id-->
<!--    </sql>-->


</mapper>